<section class="menu">
  <div class="menu-left">
    <div class="dropdown">
      <button class="dropbtn1">
        <img src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FtiteAsset%2041.svg?v=1637953367933" class="arrow1"/>
        <div class="buttonTitle1">
          Graphic Design
        </div>
      </button>
      <h4 id="myDropdown" class="dropdown-content drop-content1">
        <div class="drop-bar bt-resound">
          <a href="/resound" class="pj-resound">
            <div class="projectType ">Experience design</div>
            <div class="projectName">Resound</div>
          </a>
        </div>
        <div class="drop-bar bt-mon">
          <a href="/mon" class="pj-mon">
            <div class="projectType">Branding</div>
            <div class="projectName">Museum of Names</div>
          </a>
        </div>
        <div class="drop-bar bt-element">
          <a href="/element" class="pj-element">
            <div class="projectType">Product design</div>
            <div class="projectName">Element Cups</div>
          </a>
        </div>
        <div class="drop-bar bt-gaze">
          <a href="/gaze" class="pj-gaze">
            <div class="projectType">Editorial design</div>
            <div class="projectName">Gaze</div>
          </a>
        </div>
        <div class="drop-bar bt-eyes">
          <a href="/eyes" class="pj-eyes">
            <div class="projectType">Motion graphics</div>
            <div class="projectName">Observation of Eyes</div>
          </a>
        </div>
        
        <div class="drop-bar bt-suh">
          <a href="/suh" class="pj-suh">
            <div class="projectType">Branding</div>
            <div class="projectName">Smell Us Human</div>
          </a>
        </div>
        <div class="drop-bar bt-simple">
          <a href="/simple" class="pj-simple">
            <div class="projectType">Typography</div>
            <div class="projectName">Simple and Complex</div>
          </a>
        </div>
<!--         <div class="drop-bar bt-change">
          <a href="/change" class="pj-change">
            <div class="projectType">Typography</div>
            <div class="projectName">Change</div>
          </a>
        </div> -->
      </h4>
    </div>

    <div class="dropdown">
      <button class="dropbtn2">
        <img src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FtiteAsset%2041.svg?v=1637953367933" class="arrow2"/>
        <div class="buttonTitle2">
          Web + Coding
        </div>
      </button>
      <h4 id="myDropdown" class="dropdown-content drop-content2">
        <div class="drop-bar bt-body">
          <a href="/body" class="pj-body">
            <div class="projectType">Creative coding</div>
            <div class="projectName">Body Writing Machine</div>
          </a>
        </div>
        <div class="drop-bar bt-mini">
          <a href="/mini" class="pj-mini">
            <div class="projectType">Creative coding</div>
            <div class="projectName">Mini-Photoshop</div>
          </a>
        </div>
<!--         <div class="drop-bar bt-p5">
          <a href="#" class="pj-p5">
            <div class="projectType">Creative coding</div>
            <div class="projectName">P5.js Sketches</div>
          </a>
        </div> -->
      </h4>
    </div>
  </div>
  <div class="menu-right">
    <div class="project-image">
      {% include titleimage.html %}
    </div>
    

      
  </div>
</section>
