<footer class="site-footer">
  <div class="ft-firstcolumn">
    Let's Talk!
  </div>

  <ul class="ft-secondcolumn">
    <li class="footer1"><a href="mailto: lwei01@mica.edu">Email</a></li>
    <li class="footer2"><a href="https://www.instagram.com/lisa_ty_wei/">Instagram</a></li>
    <li class="footer3"><a href="https://www.linkedin.com/in/tianyue-wei-6795b817a/">linkedIn</a></li>
    <li class="footer4"><a href="https://www.tianyuewdesign.com">Old site</a></li>
  </ul>
  
  <ul class="ft-secondcolumn">
    <li>2021 Designed and Coded by Tianyue Wei(Lisa)</li>
  </ul>
</footer>
