<!-- resound -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FRS-1.png?v=1637975988203"
  class="img-resound1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FRS-2.png?v=1637975981529"
  class="img-resound2 title-img"
/>

<!-- museum of names -->

<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FMN-1.png?v=1637976013474"
  class="img-mon1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FMN-2.png?v=1637976019550"
  class="img-mon2 title-img"
/>

<!-- element cups -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FEC-1.png?v=1637975960561"
  class="img-element1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FEC-2.png?v=1637975964047"
  class="img-element2 title-img"
/>

<!-- gaze -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FGZ-1.png?v=1637975991940"
  class="img-gaze1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FGZ-2.png?v=1637975995025"
  class="img-gaze2 title-img"
/>

<!-- observation of eyes -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FME-2.png?v=1637976001412"
  class="img-eyes1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FME-1.png?v=1637976004941"
  class="img-eyes2 title-img"
/>

<!-- smell us human -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2Fsuh1.png?v=1638039443694"
  class="img-suh1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2Fsuh2.png?v=1638039863808"
  class="img-suh2 title-img"
/>

<!-- change -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FCH-2.png?v=1637976848530"
  class="img-change1 title-img"
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FCH-1.png?v=1637976853604"
  class="img-change2 title-img"
/>

<!-- simple and complex -->
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FSC-1.png?v=1637976823083"
  class="img-simple1 title-img "
/>
<img
  src="https://cdn.glitch.me/88d13206-8af8-4bf3-ab7f-8d17cbe09c12%2FSC-2.png?v=1637976813344"
  class="img-simple2 title-img"
/>
